.hakushin_karatebu {

color :#191970;
font-size :45px;
float :left;

}

.acceed {

color :#ff0000;
font-size:45px;
float :right;

}

.hakushin_karatebu li{

color :#191970;
font-size :45px;
float :left;

}

.acceed li {

color :#ff0000;
font-size:45px;
float :right;

}

